footer.bg-indigo-600.p-4
        .container.mx-auto.flex.justify-between.items-center
            h1(class="text-center text-white font-extrabold") Wilmer Lopez, JavaScript Developer 
                | &copy; 2023 |
                i.fa.fa-value(aria-hidden='true') &nbsp;
                a(href='#') BienesRaices

            nav(class="my-2 text-sm md:flex md:items-center font-bold text-white md:gap-4")
                i(class="fa-brands fa-twitter text-xl") 
                a(href="https://twitter.com/EdwardEmpatico") Twitter
                i(class="fa-brands fa-linkedin text-xl")
                a(href=`https://www.linkedin.com/in/wilmer-lopez-b356a8122/`) Linkedin
                i(class="fa-brands fa-github text-xl")
                a(href=`https://github.com/DevOld112`) Github


                

<script src="https://kit.fontawesome.com/cade4f639b.js" crossorigin="anonymous"></script>